<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.ofg">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>급똥</title>
</head>
<body>
    <div id="map" style="width:100%;height:100vh;"></div>

    <script type="text/javascript" th:src="'https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=' + ${clientId}"></script>
    <script src="/js/map.js"></script>
</body>
</html>